<% include header.ejs %>
<body>
	<div class="container">
		<div class="row-fluid">
			<div class="checkout">			
				<div class="row-fluid">				
					<a href="/">
						<img src="http://i.imgur.com/6Vyxj0h.png" title="Three Leaf Tea" />				
					</a>					
				</div>
				<hr/>
				<form class="checkout-form form-horizontal" method="POST">      

					<div class="order-description">
						<h1>Monthly Tea Subscription</h1>				
						<label class="radio">
							<input type="radio" name="optionsRadios" id="withSet" value="1" checked>	 
							Tea refills with brewing set ($29/month + $40)
						</label>

						<label class="radio">
							<input type="radio" name="optionsRadios" id="noSet" value="0">
							Tea refills only ($29/month)
						</label>    	
						<div class="bill">
							<p>Billed Today: $69.00</p>
						</div>
					</div>
					<hr/>

					<div style="clear:both"></div>

					<div class="shipping-address">
						<h1>Shipping Address</h1>				
						<div class="control-group">
							<label class="control-label">Name</label>
							<div class="controls">
								<input type="text" name="name" placeholder="Name" id="name">
							</div>            
						</div> <!-- control-group -->

						<div class="control-group">
							<label class="control-label">Email</label>
							<div class="controls">
								<input type="text" name="email" placeholder="Email" id="email">
							</div>   
						</div> <!-- control-group -->

						<div class="control-group">
							<label class="control-label">Street Address</label>
							<div class="controls">
								<input type="text" name="address" placeholder="Street Address" id="address">
							</div>  
						</div> <!-- control-group -->

						<div class="control-group">
							<div class="controls">                
								<input class="input-mini" type="text" name="city" placeholder="City" id="city">
								<input class="input-mini" type="text" name="state" placeholder="State" id="state">                
								<input class="input-mini" type="text" name="zip" placeholder="Zip Code" id="zip">
							</div>
						</div> <!-- end control-group -->                                    
					</div>



					<div class="submit-btn">
						<script src="https://checkout.stripe.com/v2/checkout.js" class="stripe-button"
						data-key="pk_live_vpIZA5Qagy5tAs8zS9H7Ko9R"
						data-amount="6900"
						data-name="Three Leaf Tea"
						data-description="Tea refills with brewing set ($29/month + $40)"        
						data-image="/img/logo-small.jpg">         
						</script>	
					</div>
					

				
			</form>
		</div>		
	</div>	
</div>





<script type="text/javascript" src="/js/jquery-2.0.3.min.js"></script>   
<script type="text/javascript" src="/js/bootstrap.min.js"></script>   
<script type="text/javascript" src="/js/checkout.js"></script>   
</body>
</html>