<% include header.ejs %>

  <body>
    <!-- sendgrid --> 
    <!-- We use row-fluid inside containers to achieve a resizable layout. -->
    <!-- blogs.endjin.com/2013/04/tips-for-implementing-responsive-designs-using-bootstrap/ -->
    <!-- http://stackoverflow.com/a/12270322 -->    

    <div class="container" id="top">
    <% var subscribelink = "/checkout" %>

    <div id="main-nav" class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <a href="#top" class="brand smoothScroll"><img src="http://i.imgur.com/AG3omIk.png?1" title="Three Leaf Tea" /></a>  
          <ul class="nav">            
            <li>
              <a href="#features-container" class="smoothScroll">features</a>
            </li>                      
            <li>
              <a href="#pricing" class="smoothScroll">pricing</a>
            </li>  
            <li>
              <a href="#customers" class="smoothScroll">customers</a>
            </li>                    
            <li>
              <a href="#faq" class="smoothScroll">faq</a>
            </li>              
            <li id="subscribe-btn">
              <a href= <%=subscribelink%> >
                <button class="btn btn-success btn-small">  Subscribe Now  </button>
              </a>              
            </li>                      
          </ul>        
      </div>      
    </div>

      <!-- Logo Header -->
      
      <!--
      <div class="row-fluid">
        <div class="logo-header span7 offset1 clearfix">
          <img src="http://i.imgur.com/6Vyxj0h.png" title="Three Leaf Tea" />
        </div>            
        
      </div>

      -->
       <!-- End Logo Header -->      
    

<!--
      <div class="row-fluid">        
        <div class="span10 asset intro-pitch offset1" id="intro-pitch">
          <div class="intro-pitch-body">
            <p>At Three Leaf Tea, we handpick a variety of great-tasting teas, carefully take note of everything you need, buy the brewing equipment, and deliver it straight to your doorstep.</p>          
          </div>                    
          <div class="intro-pitch-end span6">
            <p>So all you have to do is... Pour and Enjoy</p>
          </div>
        </div>
      </div>  end row-fluid -->       


      <!-- Beyond this part the marketing copy begins. -->
      <!-- https://developer.mozilla.org/en-US/docs/Web/CSS/text-align -->
      <!-- http://twitter.github.io/bootstrap/base-css.html#images -->
      <!-- http://placehold.it  -->
      <% 
        var features = [{
          "title" : "The Complete Tea Experience",
          "desc" : "Three Leaf Tea is a subscription tea service that delivers you a variety of great-tasting teas with all the necessary equipment & brewing instructions, every single month.",         
          "image_url" : "img/grain-final.png"

        }, 
        {
          "title" : "Three Loose Leaf Teas",  
          "desc" : "Enjoy a hand-selected variety of the finest loose leaf teas. Every refill comes with three varieties and makes about 45 cups.",
          "image_url" : "img/jars-final.png"          
        },                 
        {
          "title" : "Delivered to Your Doorstep",
          "desc" : "Receive a new selection of teas at the beginning of every month. Shipping is free and you can unsubscribe anytime.",
          "image_url" : "img/package-final.png"
        }];
      %>

      <div class="main-content span10">
        <div class="row-fluid banner">
        <div class="slide">
          <a href= <%=subscribelink%> ><img src="img/banner-transparent.png" title="Three Leaf Tea" /></a>          
          <!--<img src="http://i.imgur.com/6Vyxj0h.png" title="Three Leaf Tea" /> -->
        </div>
      </div> <!-- End Slide -->       
      <hr/>
        <% var side = true %>
      <div class="features-containter" id="features-container">         

        <% for(var i=0; i<features.length; i++) { 

          if(side) {%>
            <div class="row-fluid section1">          
              <div class="span4 offset1 asset left-elem feature-img">
                <img src= <%= features[i].image_url %> >
              </div>
              <div class="span5 copy">
                <div class="title">
                  <h1><%= features[i].title %></h1>
                </div>              
                <p><%= features[i].desc %></p>
              </div>
            </div>  
            <% side = false %> 
          <%} else {%>  
            <div class="row-fluid section2">
              <div class="span5 offset1 copy left-elem">
                <div class="title">
                  <h1><%= features[i].title %></h1>
                </div>    
                <p><%= features[i].desc %></p>
              </div>
              <div class="span4 asset feature-img">
                <img src= <%= features[i].image_url %> >
              </div>
            </div>  
            <% side = true %>                                 
          <%}%> <!-- end of else -->
        <%}%> <!-- end of features.length for-loop -->
      </div> <!-- end features-container -->
      <hr/>

      <div class="row-fluid">        
        <div class="offset1 pricing asset" id="pricing">
          <div><h1>How Much Does it Cost?</h1></div>          
          <div class="pricing-content">
            <div class="pricing-img">
              <img src="img/pricing-lato-cropped.png"/>
            </div>   
            <div class="pricing-text">
              <h2>Brewing Set</h2>
              <ul>
                <li>Glass mug with infuser & lid</li>
                <li>Three tea jars</li>
                <li>Teaspoon</li>
                <li>Wooden tray</li>
              </ul>
              <br/>
              <h2>Monthly Refills</h2>
              <ul>
                <li>Three varieties of tea</li>
                <li>Steeping instructions & suggestions</li>
              </ul>
              
            </div>       
          </div> 
        </div>
      </div>  <!-- end row-fluid -->       

      <div class="row-fluid">        
        <div class="span10 offset1 subscribe asset">
          <a href= <%=subscribelink%> >
            <button class="btn btn-success btn-large">  Subscribe Now  </button>
          </a>
        </div>          
      </div> <!-- end row-fluid -->
      <hr/>

      <div class="row-fluid" id="customers">        
        <div class="offset1 quotes asset">
          <h1>What our customers have to say</h1>          
          <div class="section1">            
            <div class="span5">
              <div class="italic">
                <p>
                  “I love Three Leaf as a simple and high-quality tea experience. The entire set is a mini-experience and gives me the calm and energy I need in the middle of the day to tackle the tasks at hand.”
                </p>
              </div>
              <p>
                - Ricky (Palo Alto, California)
              </p>
            </div> <!-- end span5 -->  
            <div class="span5 quote-right">
              <div class="italic"> 
                <p>
                I love tea and have a good understanding of which types I enjoy (mainly oolong and green), but I don't know too much about which varieties are good or where to buy them. Purchasing a tea set from Three Leaf solved both of my problems -- I was easily able to get a variety of high quality tea with one click from my bedroom instead of having to research and visit boutique tea stores.
                </p>
              </div>              
              <p>
                - Adam (San Francisco, California)
              </p>
            </div> <!-- end span5 -->                                              
          </div> <!-- end section1 -->          
        </div>
      </div>  <!-- end customers row-fluid -->        
      <hr/>

       
    

    

  <!-- For the FAQ, we introduce a little bit of JS, using the accordion. -->
      <!-- This brings in jquery.js and bootstrap.js as dependencies. -->
      <!-- http://twitter.github.io/bootstrap/javascript.html#collapse -->
       <% 
        var faqs = [{
          "question" : "What if my shipping address is different from my billing address?",
          "answer" : "with your shipping address and we'll make sure to have your order sent to the right place! We're working hard to add this feature to our ordering system so sit tight and we'll have it fixed soon.",
          "email" : "mailto:threeleaftea.com@gmail.com",
          "emailCopy" : "Send us an email"
        }, 
        {
          "question" : "What types of tea am I getting?",
          "answer" : "Each month you'll receive a combination of three different types of loose leaf tea. The common types that we've chosen are Black, Green, Oolong, and Herbal (although Herbal is not techincally a tea, we wouldn't want you to miss out on a good peppermint tea). We are constantly searching for the best teas to add to our collection. If you have a suggestion, feel free to",
          "email" : "mailto:threeleaftea.com@gmail.com",
          "emailCopy" : "drop us a line."
        },         
        {
          "question" : "How do I cancel my subscription?",
          "answer" : "You can cancel your Three Leaf subscription anytime. Just send us an email at ",
          "email" : "mailto:threeleaftea.com@gmail.com?subject=Cancelling My Subscription",
          "emailCopy" : "threeleaftea.com@gmail.com."
        },
        {
          "question" : "Don't see your question?",
          "answer" : "Send us an email at",
          "email" : "mailto:threeleaftea.com@gmail.com",
          "emailCopy" : "threeleaftea.com@gmail.com"
        }];
      %>


      <div class="row-fluid faq" id="faq">
          <div class="span10 offset1">
            <h2>FAQ</h2>
            <div class="accordion" id="accordion2">


              <div class="accordion-group"> <!-- start accordian-group -->
                <div class="accordion-heading">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse0">
                    <%=faqs[0].question%>
                  </a>
                </div>
                <div id="collapse0" class="accordion-body collapse">
                  <div class="accordion-inner span11">
                    <a href= <%=faqs[0].email %> > <%=faqs[0].emailCopy%> </a> <%=faqs[0].answer %>
                  </div>
                </div>
              </div> <!-- end accordian-group -->
              
              <div class="accordion-group"> <!-- end accordian-group -->
                <div class="accordion-heading">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse1">
                     <%=faqs[1].question%>
                  </a>
                </div>
                <div id="collapse1" class="accordion-body collapse">
                  <div class="accordion-inner span11">
                    <%=faqs[1].answer %> <a href= <%=faqs[1].email %> > <%=faqs[1].emailCopy%></a> 
                  </div>
                </div>
              </div> <!-- end accordian-group -->
              
              <div class="accordion-group"> <!-- end accordian-group -->
                <div class="accordion-heading">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse2">
                     <%=faqs[2].question%>
                  </a>
                </div>
                <div id="collapse2" class="accordion-body collapse">
                  <div class="accordion-inner">
                    <%=faqs[2].answer %> <a href= <%=faqs[2].email %> > <%=faqs[2].emailCopy%></a> 
                  </div>
                </div>
              </div> <!-- end accordian-group -->
              
              <div class="accordion-group"> <!-- end accordian-group -->
                <div class="accordion-heading">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse3">
                    <%=faqs[3].question%>
                  </a>
                </div>
                <div id="collapse3" class="accordion-body collapse">
                  <div class="accordion-inner">
                    <%=faqs[3].answer %> <a href= <%=faqs[3].email %> > <%=faqs[3].emailCopy%></a> 
                  </div>
                </div>
              </div> <!-- end accordian-group -->              
            </div>
          </div>

      </div> <!-- end faq -->    

        <!-- Not crucial, but we put this under a CC By-SA 3.0 license. -->
        <!-- http://creativecommons.org/licenses/ -->
        <div class="row-fluid footer">
          <div class="span12">
            <p>Copyright © 2013 Three Leaf</p>          
          </div>
        </div>  
        
      </div>
      


      <!-- MODAL CHECKOUT STARTS HERE -->
      
        



      
      <!-- MODAL CHECKOUT ENDS HERE -->




    </div> <!-- end container -->

      
    </div>

    <script 
      type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js">
    </script>

    <script type="text/javascript" src="js/smoothscroll.js">
    </script>    

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-44134547-1', 'threeleaftea.com');
      ga('send', 'pageview');

    </script>
  </body>
</html>
