
<!-- Button to trigger modal -->
<a href="#myModal" role="button" class="btn btn-large btn-success" data-toggle="modal">Subscribe Now</a>
 
<!-- Modal -->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Three Leaf Tea</h3>
  </div>
  <div class="modal-body">
    <form class="form-horizontal">
      <div class="control-group">
        <label class="control-label" for="inputName">Name</label>
        <div class="controls">
          <input type="text" id="inputName" placeholder="Name">
        </div>
      </div> <!-- end control-group -->            
      <div class="control-group">
        <label class="control-label" for="inputEmail">Email</label>
        <div class="controls">
          <input type="text" id="inputEmail" placeholder="Email">
        </div>
      </div> <!-- end control-group -->            
      <div class="control-group">
        <label class="control-label" for="inputAddress">Shipping Address</label>
        <div class="controls">
          <input type="text" id="inputAddress" placeholder="Address">
        </div>
      </div> <!-- end control-group -->                             
      <div class="control-group">
        <div class="controls">                
          <input class="input-small" type="text" id="inputCity" placeholder="City">
          <input class="input-mini" type="text" id="inputCity" placeholder="State">                
          <input class="input-mini" type="text" id="inputZip" placeholder="Zip Code">
        </div>
      </div> <!-- end control-group -->                                    
      <div class="control-group">
        <label class="control-label" for="inputCardNumber">Card number</label>
        <div class="controls">
          <input class="input-medium" type="password" id="inputCardNumber">
        </div>
      </div> <!-- end control-group -->                             
      <div class="control-group">
        <label class="control-label" for="inputExpiration">Expires</label>
        <div class="controls">
          <input class="input-mini" type="text" id="inputExpiration"> /
          <input class="input-mini" type="text" id="inputExpiration">
        </div>
      </div> <!-- end control-group -->                             
      <div class="control-group">
        <label class="control-label" for="inputCardCode">Card code</label>
        <div class="controls">
          <input class="input-mini" type="text" id="inputCardCode" placeholder="CVC">
        </div>
      </div> <!-- end control-group -->                             
    </form>
  </div>
  <div class="modal-footer">    
    <div class="order-now">      
      <button class="btn btn-large btn-primary">Order Now</button>
    </div>
  </div>
</div>      