<% include header.ejs %>

<body>
<div class="container success-message">	
	<a href="/"><img src="http://i.imgur.com/6Vyxj0h.png" title="Three Leaf Tea" /></a>					
	<hr/>
	<h1>Thanks for ordering!</h1>
	<p>Your order is being prepared and will be sent out shortly. Your shipment will arrive in 5-7 business days</p>
</div>



</body>