<!-- Three Easy Steps -->
       <div class="row-fluid">             
        <div class="offset1 easy-steps asset">
          <div id="title"><h1>Just Three Easy Steps</h1></div>          
          <div class="steps-container span10">

            <div class="steps" id="step1">
              <div class="image">
                <img src="http://i.imgur.com/yavRVlp.png">
              </div>              
            </div> <!-- end steps -->

            <div class="steps" id="step2">
              <div class="image">
                <img src="http://i.imgur.com/WHIbtim.png">
              </div>              
            </div> <!-- end steps -->

            <div class="steps" id="step3">
              <div class="image">
                <img src="http://i.imgur.com/91y0Of0.png">
              </div>              
            </div> <!-- end steps --> 

          </div> <!-- end steps-container -->
          
        </div> <!-- end easy steps -->
      </div>  <!-- end row-fluid -->                   
     <!-- End Three Easy Steps -->