.checkout, label {
	background-color:white;	
}

.checkout {
	width:600px;
	padding:2%;
	margin:5% auto;	
	-webkit-border-radius: 16px;
  	-moz-border-radius: 16px;
  	border-radius: 16px;
}

.order-description {

	
}

.order-description .bill p {
	font-size: 14px;
	font-weight: 400;
}

.radio-buttons {

}

.submit-btn {
	width: 118px;
	margin-left:48%;
}