<link href='http://fonts.googleapis.com/css?family=Lato:300,400,300italic' rel='stylesheet' type='text/css'>

/* Large desktop */
@media (min-width: 980px) { 
  body {
   padding-top: 60px;
  }
}

/* Landscape phones and down */
@media (max-width: 480px) { 
 .copy {
   padding: 2.5% 10%;
 }
}

/* All form factors */

/* Main body and headings */


body, label{
  font-family: 'Lato', "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight:300;
  color:#35180d;
}

body {
  background-image:url(sos.png);
  background-repeat:repeat;
}

.logo-header {
  margin-bottom:3%;
}

.banner {
  margin: 12% auto 0 auto;
}

.main-content {
  background-color:#FDFDFD;

}

.nav #subscribe-btn {
  margin-top:-8px;
}

.intro-pitch {
  text-align: justify;  
}

.intro-pitch .intro-pitch-body {
  
}

.intro-pitch .intro-pitch-end {
  font-family: 'Parisienne', cursive;
  float:right;
}

.intro-pitch .intro-pitch-end  p{
  font-size:25px;
}

#customers {
  padding-top: 6%;
}

#features-container {
  /*padding-top: 6%; */
}

#pricing {
  padding-top: 9%;
}

.navbar .brand {
  margin-left: 10%;
}

.navbar .nav {
  margin: 35px 10px 0 0;
}


.steps {  
  float:left;  
  margin:22px;
}

.steps .subtitle {
  text-align:center;
}

h1, h2, h3, h4 {
  font-weight:300;
}

h1 {
  font-size:28px;    
}

h2 {
  font-size: 24px;
}



p {
  font-size:18px;
  line-height:29px;  
}

.nav li {
  font-size: 18px;
}

/* Marketing Copy and Footer */
.copy {
  padding-top: 4%;
  padding-bottom: 2.5%;
  text-align: justify;
}

.copy .title {
  padding-bottom:6%;
}

.asset {
  padding: 4% 0%;
}

.section1 .quote-right {
  margin-left:10%;
}

.quotes p {
  font-size:18px;
  line-height:29px;  
  text-align: justify;  
}

.quotes .italic p {
  font-style: italic;
}

.quotes .section1 {
  margin-top:5%;
}

.pricing .pricing-content {
  margin-top:5%;
}

.pricing .pricing-content .pricing-img {  
  width:470px;
  float:left;
}

.pricing .pricing-content .pricing-text {  
  width:300px;
  float:left;
  margin:35px 0 0 30px;
}

.pricing .pricing-content .pricing-text h2 {    
  text-transform:uppercase;
  margin-bottom:-5px;
}

.pricing .pricing-content .pricing-text li {    
  font-size: 18px;
  line-height: 24px;
}


.subscribe {  
  text-align: center;
}


.quotes .section1 .right {  
  float:right;
}

.subscribe .btn-large {
  font-size: 26px;
  padding: 18px 26px;
}

.footer {
  color: #cccccc;
  text-align: center;
}
.footer p {
  font-size: 11px;
}
.footer a {
  color: #ccccff;
}

.left-elem {
  margin-right: 8%;
}

.feature-img {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  /*border:none;
  box-shadow: none;
  background-color: none;*/
}

.accordion-group {
  border:none;
}

.accordion-inner {
  border:none;
}


/* Modal Checkout */
.order-now {
  width: 129px;
  margin: 0 auto;
}